<!DOCTYPE html>
<html lang="en" th:replace="~{dashboardBase :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
    <section class="mt-5">
        <h1 th:text="#{ui.dashboard.passkeys.demo.logged.in}">Congratulations! You have logged in!</h1>
        <div class="container">
            <div class="row mt-4 mb-2">
                <div class="col">
                    <div class="text-center">
                        <img class="rounded mx-auto d-block" src="/assets/images/daffy-duck-well-done.png" width="410" height="508"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</html>
