<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="dashboard-header (title)">
        <title th:replace="${title}">Passkeys Demo Base Template</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
        <meta name="htmx-config" content='{"htmx.config.globalViewTransitions": true}'/>
        <!-- SCRIPTS -->
        <script src="https://unpkg.com/@simplewebauthn/browser@13.1.2/dist/bundle/index.umd.min.js" integrity="sha384-x+9k/LwnOU31Uw0BjGIuH0mJYPM4b5yBa/0GkqcR5tlgphBf9LtXYySTFNK/UtL3" crossorigin="anonymous"></script>
        <script src="/assets/js/jquery-3.7.1.min.js"></script>
        <script src="/assets/bootstrap-5.3.7-dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/htmx-2.0.6.min.js"></script>
        <script src="/assets/js/json-enc.js"></script>
        <script src="/assets/js/passkeys.js"></script>
        <script src="/assets/js/functions.js"></script>
        <!-- STYLES -->
        <link rel="stylesheet" href="/assets/bootstrap-5.3.7-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/assets/fonts/material-icons/material-icons.min.css">
        <link rel="stylesheet" href="/assets/fonts/material-symbols/index.css">
        <link rel="stylesheet" href="/assets/css/login-form-basic-icons.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
</html>
