<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="dashboard-header (title)">
        <title th:replace="${title}">Passkeys Demo Base Template</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
        <meta name="htmx-config" content='{"htmx.config.globalViewTransitions": true}'/>
        <!-- SCRIPTS -->
        <script src="https://unpkg.com/@simplewebauthn/browser@13.2.3/dist/bundle/index.umd.min.js" integrity="sha384-yAwqL7rTyGVMT9a0Dcn7eXxCO+R5i9tIaSscz0HJYqv2/+HktDkQkJHF56oDHbxc" crossorigin="anonymous"></script>
        <script src="/assets/js/jquery-4.0.0.min.js"></script>
        <script src="/assets/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/htmx-2.0.8.min.js"></script>
        <script src="/assets/js/json-enc.js"></script>
        <script src="/assets/js/passkeys.js"></script>
        <script src="/assets/js/functions.js"></script>
        <!-- STYLES -->
        <link rel="stylesheet" href="/assets/bootstrap-5.3.8-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/assets/fonts/material-icons/material-icons.min.css">
        <link rel="stylesheet" href="/assets/fonts/material-symbols/index.css">
        <link rel="stylesheet" href="/assets/css/login-form-basic-icons.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
</html>
